.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  object-fit: contain;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  table-layout: fixed;
  width: 30%;
}
button{
  
  width: 15%;
  height: max-content;
  border-radius: 8px;
  margin-left: 12px;
  float: left;
  margin-bottom:12px ;
  flex-wrap: wrap;
}

.refresh-button {
  align: center;
  width: 100%;
  margin-bottom: 1em;
}

.controls {
  display: flex;
  flex-direction: column;
  align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.fuzzy-results {
  background-color: darkgray;
}

.searchbar{
  display: flex;
  flex-direction: row;
}

.search-text {
}

.clearSearch{
}
